.env
.htpasswd
php_errors.log
.DS_Store
Thumbs.db
vendor/*
.idea/
*.swp
*.swo
/templates/cache/
/templates/compiled/
/public/assets/images/
*/public/admin/*.htaccess
composer.lock
*.bak
*.tmp
.htaccess